@page "/"

<AuthorizeView>
    <Authorized>
        <PageTitle>Главная страница</PageTitle>
        <h3>Здравствуйте, @context.User.Identity!.Name, ваша должность: @context.User.Claims.FirstOrDefault(x => x.Type.Contains("role"))!.Value</h3>
    </Authorized>
    <NotAuthorized>
        <IPSA.Web.Client.Pages.NotAllowed></IPSA.Web.Client.Pages.NotAllowed>
    </NotAuthorized>
</AuthorizeView>
