.input.sml_input {
    width: 50px;
}

.input.med_input {
    width: 100px;
}

.input.lrg_input {
    width: 300px;
}

.city {
    border: inset 0.3px;
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

/*button {
    border: thin;
    outline-style: auto;
    margin-right: 10px;
}*/

.button {
    border: solid;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.button:active {
    transform: scale(0.60);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    max-width: 100%;
}

th {
    text-align: center;
    background-color: #99ccff;
    border-right: solid 1px;
    min-width: 100px;
    max-width: auto;
}

tr {
    border: solid 1px;
    border-style: solid;
}

td {
    text-align: center;
    border: solid 1px;
    border-style: solid;
}

.clickable_row {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.clickable_row:hover {
    background-color: ThreeDLightShadow;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #99ccff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}