@inherits LayoutComponentBase

<div class="page">
    
    <AuthorizeView>
        <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        </Authorized>
    </AuthorizeView>


    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <label>@context.User.Identity!.Name</label>
                    <a href="Logout">[Выйти]</a>
                </div>
            </Authorized>

        </AuthorizeView>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ошибка на странице.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
