@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a>Пользователь</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ошибка на странице.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
