<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">"Название провайдера"</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Abonents" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Абоненты
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NewAbonent">
                <span class="oi oi-plus" aria-hidden="true"></span> Новый абонент
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Requests">
                <span class="oi oi-list" aria-hidden="true"></span> Заявки
            </NavLink>
        </div>
    </nav>
</div>

