@page "/Abonent/{abon_id:int}/Requests/"
@inherits AbonentRequestsBase
@rendermode InteractiveServer

<PageTitle>Заявки</PageTitle>

<div class="container">
    <div class="col-12 col-lg-12 p-4 justify-content-space-between">
        <h3>Заявки абонента</h3>
    </div>
</div>
