@page "/Abonent/{abon_id:int}/Reports/"
@inherits AbonentReportsBase
@rendermode InteractiveServer

<PageTitle>Отчёты</PageTitle>

<div class="container">
    <div class="col-12 col-lg-12 p-0 justify-content-space-between">
        <h3>Отчёты по абоненту</h3>
    </div>
</div>