@page "/Abonent/{abon_id:int}/Tariffs/"
@inherits AbonentTariffsBase
@rendermode InteractiveServer

<PageTitle>Услуги</PageTitle>

<div class="container">
    <div class="col-12 col-lg-12 p-4 justify-content-space-between">
        <h3>Услуги абонента</h3>
    </div>
</div>

